<div class="main user-show">
  <div class="container">
    <div class="title">
      <% if @user.id == @current_user.id %>
        <p>マイページ</p>
      <% else %>
        <p>ユーザーページ</p>
      <% end %>
    </div>
    <div class="form users-form">
      <div class="user-form-top">
        <div class="user-left">
          <img src="<%= "/user_images/#{@user.image_name}" %>">
        </div>
        <div class="user-right">
          <div class="user-name-menu">
            <div class="user-name">
              <a><%= @user.name %></a>
            </div>
            <div class="user-menu">
              <% if @current_user && @user.id == @current_user.id %>
                <%= link_to("編集", "/users/#{@user.id}/edit") %>
              <% end %>
            </div>
          </div>
          <div class="user-create-time">
            <%= "登録日 #{@user.created_at}" %>
          </div>
        </div>
      </div>
      <div class="list-items">
        <div class="list-item">
          <% @lists.each do |list| %>
            <div class="lists-index-item">
              <div class="list-right">
                <%= link_to(list.name, "/lists/#{list.id}") %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>